.App {
  text-align: center;
  position: relative;
  height: 100%;
}

.App-header {
  /* position: absolute; */
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-body {
  background-color: #dcdcdc;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  /* overflow-y: scroll; */
}

.App-fieldset {
    width: 80%;
    margin: 10% auto;
}

.bt-login {
  width: 30%;
  height: 45%;

  margin: 2% auto;
  padding: 2% 0;

  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
}

.bt-main {  
    width: 100%;
    height: 45%;

    margin: 2% auto;
    padding: 2% 0;
    
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
}


